.quest-panel {
    border: 1px solid #000;
    padding: 0.75rem;
    font-size: 0.95rem;
    width: 100%;
height: 100%;}

.quest-switch {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.quest-switch button {
    flex: 1;
    border: 1px solid #000;
    background: #5e5e5e;
    padding: 0.3rem;
    cursor: pointer;
}

.quest-switch button.active {
    background: #5e5e5e;
    font-weight: bold;
}

.quest-content h3 {
    margin: 0.4rem 0 0.1rem;
    font-size: 0.9rem;
}

.quest-title {
    font-weight: bold;
}

.quest-meta {
    margin-top: 0.5rem;
    font-size: 0.85rem;
}
