.flag-container {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 200px;
    height: 320px;
}

.flag-background {
    position: absolute;
    top: 18%;
    left: 50%;

    transform: translateX(-50%) scale(1.5);
    height: auto;

    z-index: 1;
    pointer-events: none;
}

.flag-frame {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

    z-index: 2;
}

.flag-symbol {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);

    width: 45%;
    height: auto;

    z-index: 3;
    pointer-events: none;
}
