.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-container {
    background: #1f1f1f;
    padding: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.modal-textarea {
    flex: 1;
    width: 100%;
    background: #111;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #444;
    resize: none;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 15px;
}

.modal-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.modal-btn.cancel {
    background: #444;
}

.modal-btn.save {
    background: #2fa34f;
    color: white;
}
