h3{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0px;
}


button {
    width: 16rem;
    height: 40px;
    background-color: #000000;
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    border-color: #69881a;
}